@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Poppins:wght@300;400;500;600;700&family=Work+Sans&display=swap');
body{
    font-family: 'Work Sans';
}


.head-image {
    height: 100vh;
    border: 10px;
}

.par  {
    position: relative;
}

.img-text {
    position: absolute;
    top: 340px;
    color: white;
    /* font-weight: thin; */
    left: 134px;
    font-size: 100px;
    font-variant: small-caps;
    font-family: 'Poppins';
}

.img-text p {
    position: relative;
    left: 158px;
    top: -65px;
    font-weight: 200;
}

.img-text h3{
    font-weight: 200;
}

.heading {
    max-width: 800px;
    margin: auto;
}

.blog-card{
        background-color: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
        left: 300px;
}
/* @media screen and (max-width: 768px) {
    .img-text {
        font-size: 50px;
    } */
    

.blog-container {
    display: grid;
    /* align-items: center; */
    justify-content: center;
    grid-template-columns: 400px 400px 400px;
    column-gap: 50px;
    row-gap: 50px;
}

.category-card{
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    position: relative;
    left: 300px;
}

.horizontal-container1{
    display: grid;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    top: 100px;
}

.horizontal-container2{
    display: grid;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    top: 100px;
}

.flex{
    column-gap: 20px;
}

.hor-img {
    height: 107px;
    width: 107px;
}

.rec-img {
    height: 107px;
    width: 257px;
}

@media  screen and (max-width: 430px) {
    
    
    .blog-container{
        grid-template-columns: 400px;
        margin-left: 50px;
    }
    .horizontal-container2{
        display: none;
    }

    .img-text {
        position: absolute;
        top: 304px;
        color: white;
        left: 31px;
        font-size: 36px;
        font-variant: small-caps;
        font-family: 'Poppins'
    }
    .img-text p {
        position: relative;
        left: 57px;
        top: -27px;
        font-weight: 200;
    }
    .head-image{
        height: 50vh;
    }

    .par{
        height: 50vh;
    }
    .blog-card{
        background-color: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
        left: 275px;
}
.tablet{
    align-items: center;
    flex-direction: column;
    margin-right: 30px;

}
.horizontal-container1{
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0px;
    width: 80%;
    gap: 30px;
}
}

@media  screen and (min-width:430px) and ( max-width:770px) {
    .blog-container{
        grid-template-columns: 300px 300px;
    }
    .blog-card{
        background-color: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
        left: 230px;
}
    .img-text p {
        position: relative;
        left: 81px;
        top: -46px;
        font-weight: 200;
    }
    .img-text {
        position: absolute;
        top: 204px;
        color: white;
        left: 70px;
        font-size: 53px;
        font-variant: small-caps;
        font-family: 'Poppins';
    }

    .horizontal-container2{
        display: none;
    }
    .tablet{
        align-items: center;
        flex-direction: column;
        margin-right: 40px;

    }
    .horizontal-container1{
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0px;
        width: 80%;
        gap: 30px;
    }

    .head-image{
        height: 50vh;
    }

    .par{
        height: 50vh;
    }
}

@media screen and (min-width: 771px) and (max-width: 1024px ) {
    .blog-container{
        grid-template-columns: 250px 250px 250px;
    }
    .blog-card{
        background-color: black;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        position: relative;
        left: 202px;
}
.par{
    height: 50vh;
}
.horizontal-container2{
    margin-right: -72px;
    row-gap: 0px;
    margin-left: 0.5rem;
}
.hor-card{
    width: 90%;
}
.cat-parent{
    width: 90%;
    margin-left: 2rem;
}
.hor-img{
    height: 80px;
    width: 80px;
}
.hor-card{
    margin-right: 10px;
}
.rec-img {
    height: 89px;
    width: 171px;
}
.head-image{
    height: 50vh;
}
}