@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Montserrat:wght@400;700&family=Post+No+Bills+Jaffna&display=swap');


::-webkit-scrollbar {
  display: none;
}
.head-image {
  height: 100vh;
}

body {
  font-family: "Popins sans-serif";
}
.perspective {
  perspective: 1000px;
}
.threed {
  transform-style: preserve-3d;
}

@for $i from 1 through 4 {
  .slider > :nth-child(#{$i}),
  .slider > :nth-last-child(#{$i}) {
    height: 200px + (50px * $i);
    @media (max-width: 768px) {
      height: 100px + (50px * $i);
    }
  }
}

@for $i from 1 through 5{
  .team >:nth-child(#{$i}),
  .team>:nth-last-child(#{$i}){
    height: 50px + ( 20px * $i);
  }
}


.special {
  position: absolute;
    top: 340px;
    color: white;
    /* font-weight: thin; */
    left: 134px;
    font-size: 100px;
    font-variant: small-caps;
    font-family: 'Poppins';
    h1{
      font-weight: 200;
    }
}

.team{
  animation: moveright 0.65s ease-out;
  animation-fill-mode: forwards;
}

@keyframes moveright {
  0% {
      transform: translateX(0);
  }

  100% {
      transform: translateX(-20rem);
  }
}
