@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Post+No+Bills+Jaffna&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200&display=swap");


@for $i from 1 through 4 {
  .slider > :nth-child(#{$i}),
  .slider > :nth-last-child(#{$i}) {
    height: 200px + (50px * $i);
    @media (max-width: 768px) {
      height: 100px + (50px * $i);
    }
  }
}
body {
  font-family: "Popins sans-serif";
}
::-webkit-scrollbar {
  display: none;
}

.perspective {
  perspective: 1000px;
}
.threed {
  transform-style: preserve-3d;
}

