 

.heading {
    position: absolute;
    left: 3%;
    top: 30%;
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url('/path/to/poppins-light.woff2') format('woff2');
    font-display: swap;
    font-size: 100px;
    font-variant: small-caps;
    padding-left: 100px;
    @media (max-width:1024px) {
        font-size: 70px;
        top: 20%;
        left: 10px;
    }
    @media (max-width:650px) {
        font-size: 40px;
        left: 10px;
    }
    .you {
        font-weight: 200;
    }
    .we{
        font-weight: 200;
        padding-left: 100px;
        @media (max-width:1024px) {
            padding-left: 50px;
        }
    }
}


