@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

.head-image {
    height: 90vh;
    border: 10px;
}

.img-text {
    position: relative;
    top: -375px;
    color: white;
    /* font-weight: thin; */
    left: -420px;
    font-size: 100px;
    font-variant: small-caps;
    font-family: 'Poppins';
}

.img-text p {
    position: relative;
    left: 175px;
    top: -65px;
    font-weight: 200;
}

.img-text h3{
    font-weight: 200;
}

/* @media screen and (max-width: 768px) {
    .img-text {
        font-size: 50px;
    } */
    
