@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

.head-image {
    height: 100vh;
    border: 10px;
}

.parent  {
    position: relative;
}

.cer img {
    height: 475px;
}

.img-text {
    position: absolute;
    top: 340px;
    color: white;
    /* font-weight: thin; */
    left: 134px;
    font-size: 100px;
    font-variant: small-caps;
    font-family: 'Poppins';
}

.img-text p {
    position: relative;
    left: 158px;
    top: -65px;
    font-weight: 200;
}

.img-text h3{
    font-weight: 200;
}

.ceo-card{
    width: 980.91px;
    height: 390.95px;
    
}

/* .ceo-img{
    width: 240px;
    height: 300px;
    
    
} */

.ceo-thought{
    box-shadow: 16.187px 11.331px 32.373px 0px rgba(0, 0, 0, 0.08);
}
